.page {
  &__title {
    font-size: 4rem;
    line-height: 6rem;
    display: block;
    text-align: center;
    margin: 80px auto;
  }
  &__body {
    h1 {
      font-size: 2.5rem;
      line-height: 4rem;
      font-weight: normal;
      margin: 60px 0 40px;
      border-bottom: 1px solid #999;
    }
    h2 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: normal;
      margin: 40px 0 0;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: normal;
      margin: 40px 0 0;
    }
  }
  blockquote {
    border-left: 8px solid color(#09f a(0.2));
    margin: 0;
    padding: 4px 20px;
    background: color(#999 a(0.1));
  }
  code {
    color: #630;
  }
  li:has(> input) {
    color: #f00;
  }
}