:root {
  @custom-media --sp (width > 48rem);
  @custom-media --pc (width < 64rem);
}

.card {
  align-items: center;
  display: flex;
  text-align: left;
  overflow: visible;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0;
  border-radius: 8px;
  font-size: 100%;

  @media (--sp) {
    display: table;
  }
}

.cardLink {
  text-decoration: none;
}

.bucket {
  padding: 1.25em;
  color: #21abc7;
  font-weight: 600;
  cursor: auto;
  text-align: left;

  @media (--sp) {
    display: table;
  }
}

.bucketMedia {
  color: #21abc7;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;

  @media (--sp) {
    float: left;
    margin-right: 1.25em;
  }
}

.badge {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: block;
  height: 100px;
  padding: 0.3125rem;
  position: relative;
  width: 100px;
  color: #21abc7;
  font-weight: 600;
}

.badgeImg {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.bucketContent {
  vertical-align: middle;
  display: table-cell;
  width: 10000px;
}

.pathTitle {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.3125rem;
  margin-top: 0;
}

.pathTitleLink {
  font-weight: 600;
  transition: 0.2s ease-in-out;
  font-size: 150%;
  text-decoration: none;
}

.description {
  font-weight: 300;
  font-size: 0.9rem;
  color: #393d40;
  margin-bottom: 0;
  margin-top: 0;
}
