:root {
  @custom-media --pc (width > 64rem);
}

.flexGrid {
  padding-top: 60px;
  margin-bottom: 2.5rem;
  margin-left: -0.625rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexGridBox {
  margin-bottom: 0.625rem;
  padding-left: 0.625rem;
  box-sizing: border-box;
  display: flex;

  @media (--pc) {
    width: 50%;
  }
}
