:root {
  --spWidth: 960px;

  @custom-media --sp (width < 960px);
}

.page {
  align-self: center;
  width: 100%;

  &__title {
    display: block;
    text-align: center;
    margin: 80px auto;
    padding: 0 20px;
  }

  &__body {
    display: block;
    margin: 60px auto 0;
    padding: 0 20px;
    width: var(--spWidth);

    @media (--sp) {
      width: auto;
    }
  }
}

.heading {
  color: #0e63e3;
}
